version: 2.1
orbs: 
  maven: circleci/maven@1.3.0
commands:
  install:
    description: "install dependencies"
    steps:
      - run: bundle check --path=vendor/bundle || bundle install --path=vendor/
jobs:

  test:
    
    docker: # executor type
      - image: cimg/base:stable # primary container will run the latest, production-ready base image
    steps:
        - run:
            name: get results
            command: ls
        - run:
            name: Save test results
            command: |
              mkdir -p ~/test-results/junit/
              find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/junit/ \;
            when: always
        - store_test_results:
            path: ~/test-results
  
workflows:
    Example-Workflow:
      jobs:
        - maven/test:
            app_src_directory: "payroll/src/test/java/com/canadian/payroll"
        - test
