version: 2.1
commands:
  install:
    description: "install dependencies"
    steps:
      - run: bundle check --path=vendor/bundle || bundle install --path=vendor/
jobs:

  test:
    docker: # executor type
      image: cimg/base:stable # primary container will run the latest, production-ready base image
      steps:
        - run:
            name: Save test results
            command: |
              mkdir -p ~/test-results/junit/
              find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/junit/ \;
            when: always
        - store_test_results:
          path: ~/test-results



  build: # name of your job
    docker: # executor type
      image: cimg/base:stable # primary container will run the latest, production-ready base image

      steps:
        # Commands run in the primary container
  workflows:
  Example-Workflow:
    jobs:
      - test
